body{
    max-width: 1500px;
}
header{
    background-image: url('https://github.com/aki071880/akiyun/blob/main/%E3%82%AF%E3%83%AA%E3%82%B9%E3%83%9E%E3%82%B9.jpeg?raw=true');
    background-size: cover;
    height: 300px;
}

.title{
    text-align: center;
    padding-top: 125px;
    color: antiquewhite;
}

.main{

    display: flex;
    text-align: center;
    padding: 50px;
    background-color: rgb(166, 216, 166);
}

.menu-list{
    width: 30%;
    align-items: flex-end;
    margin: 0 50px;
    text-align: center;
    
}

img{
    display: block;
    width: 250px;
    height: 200px;
}
li{
    text-align: left;
}
.a{
    text-align: left;
}

@media screen and (max-width: 480px) {
	/* 480px以下に適用されるCSS（スマホ用） */
    img{
        width: 100%;
    }
    .menu{
        width: 100%;
    }
    .main{
        flex-direction: column;
	padding: 0;
    }
}
